<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>BirDanışman</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css" />
    <link href="css/cardcss.css" rel="stylesheet" />
    <link href="css/tooplate-little-fashion.css" rel="stylesheet">
    <!--

    Tooplate 2127 Little Fashion

    -->
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>
        <br />
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <img src="images/logo3.png" alt="" />
                </a>


                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Anasayfa</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="index.html#kurumsal" target="_self">Kurumsal</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="index.html#hizmet" target="_self">Hizmetler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="index.html#danismanlik" target="_self">Danışmanlık</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="index.html#iletisim">Referanslar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="iletisim.html">İletişim</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">

                    </div>
                </div>
            </div>
        </nav>

        <section class="contact section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4"><span>Bize Ulaşın</span></h2>

                        <form class="contact-form me-lg-5 pe-lg-3" role="form">

                            <div class="form-floating">
                                <input type="text" name="name" id="name" ng-model="form.name" class="form-control" placeholder="Ad Soyad" required>

                                <label for="name">Ad Soyad</label>
                            </div>

                            <div class="form-floating my-4">
                                <input type="email" name="email" id="email" ng-model="form.email" class="form-control" placeholder="Email Adresi" required>

                                <label for="email">Email Adresi</label>
                            </div>

                            <div class="form-floating my-4">
                                <input type="text" name="name" id="company" ng-model="form.company" class="form-control" placeholder="Şirket Adı" required>

                                <label for="email">Şirket Adı</label>
                            </div>

                            <div class="form-floating my-4">
                                <input class="form-control" id="contact-phone" ng-model="form.phone" type="text" name="phone" placeholder="Telefon Numarası">
                                <label for="phone">Telefon Numarası</label>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea id="message" name="message" ng-model="form.message" class="form-control" placeholder="Mesaj" required style="height: 160px"></textarea>

                                <label for="message">Mesaj</label>
                            </div>

                            <div class="col-lg-5 col-6">
                                <button type="submit" class="form-control" ng-click="submitForm()">Gönder</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12 mt-5 ms-auto">
                        <div class="row">
                            <div class="col-6 border-end contact-info">
                                <h6 class="mb-3">Telefon</h6>

                                <a href="https://wa.me/905435190091" class="custom-link" target="_blank">
                                    0543 519 00 91
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <div class="col-6 contact-info">
                                <h6 class="mb-3">Mail</h6>

                                <a href="mailto:studio@company.com" class="custom-link">
                                    info@birdanisman.com
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="index.html">B1RDANIŞMAN</a></h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">BirDanisman © 2024</p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Site Haritası</h5>

                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="index.html" class="footer-menu-link">Anasayfa</a></li>

                        <li class="footer-menu-item"><a href="index.html#kurumsal" class="footer-menu-link">Kurumsal</a></li>

                        <li class="footer-menu-item"><a href="index.html#danismanlik" class="footer-menu-link">Danışmanlık</a></li>

                        <li class="footer-menu-item"><a href="index.html#hizmet" class="footer-menu-link">Hizmetler</a></li>

                        <li class="footer-menu-item"><a href="iletisim.html#referanslar" class="footer-menu-link">Referanslar</a></li>

                        <li class="footer-menu-item"><a href="iletisim.html" class="footer-menu-link">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Sosyal Medya</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/angular.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#contact-phone').inputmask("(599) 999-9999");
            $('#contact-phone').mouseover(function () {
                $('.form-label').hide();
            });

            $('#contact-phone').mouseout(function () {
                $('.form-label').show();
            });
        });
    </script>
</body>
</html>
